.top_Landing_Container {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url('../images/ps-marquee-mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
}

.top_Landing_Info {
  width: 68%;
  height: 70%;
  top: 150px;
  margin: 150px 0 0 16%;
  text-align: center;
}

.top_Landing_Title {
  font-size: 32px;
}

.top_Landing_Text {
  font-size: 16px;
  line-height: 21px;
}

.top_Landing_Footer {
  font-size: 16px;
  color: #2b9af3;
}

.top_Landing_Footer:hover {
  color: #33ccff;
  cursor: pointer;
}

.top_Landing_Author strong{
  font-size: 120%;
  font-weight: bold;
  float: right;
  margin-bottom: 4px;
}

.top_Landing_Author p{
  font-size: 14px;
  text-align: right;
}

.top_Landing_Author p:hover {
  color: #33ccff;
  cursor: pointer;
}
